*.pyc
# *.log
finetuned_models/
# *.log
rank_results/
*.egg-info/
__pycache__/
*.egg-info/
*.pyc
# log
*_cache/
# reversed_models/
# aug_data/
*network_param.txt
.DS_Store

#data
data/Beauty/
data/Cell_Phones_and_Accessories/
data/Raw/
data/Sports_and_Outdoors/
data/Yelp/

